{% extends 'base.html' %}
{% block content %}
  {{block.super}}
  <!--random project-->
  <div class="container-fluid">
    <div class="row" style="background-image: url({{random.image.url}});" id="random">
        <h5>Popular site:</h5>
        <a href="{% url 'project_details' random.pk %}"><h3>{{random.title}}</h3></a>
        <h5>By:{{random.profile.user}}</h5>
        <div class="row" id="scores">
          <ul>
            <li>Design{{design}}</li>
            <li>Content{{content}}</li>
            <li>Usability{{usability}}</li>
            <li>Average Score{{average}}</li>
          </ul>
        </div>
    </div>
  </div>
  <!--all projects-->
  <div class="container" style="padding-left: 100px; padding-right: 100px;padding-top: 100px;">
    <div class="divider"></div>
    <div class="row center-align" style="display: flex; justify-content: center; align-items: center;">
      {% for project in projects %}
        <div class="col s12" style="padding: 0px;" >
          <div class="card-panel hoverable white" id="card">
            <div class="card-image">
              <a href="{% url 'project_details' project.pk %}">
                <img src="{{project.image.url}}" class="responsive-img" alt="Image" id="img">
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
