<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'index' %}" class="brand-logo left black-text">web-awards</a>
      <ul class="right">
        <li>
          <!--search for projects-->
          <form id="search-site" action="{% url 'search_results' %}" method='get'>
            <div class="input-field">
              <input placeholder="Search projects..."  id="search" type="text" class="validate" name="project">
            </div>
          </form>
        </li>
        <!--navbar icons-->
        <li><a href="/"><i class="material-icons black-text">home</i></a></li>
        {% if request.user.is_authenticated %}
          <li><a href=""><i class="material-icons black-text">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons black-text">exit_to_app</i></a></li>
          <li><a href="{% url 'create_project' %}"><i class="material-icons black-text">add</i></a></li>
        {% else %}
          <li><a href="{% url 'create_project' %}"><i class="material-icons black-text">add</i></a></li>
          <li><a href="{% url 'login' %}"><i class="material-icons black-text">add</i>login</a></li>
          <li><a href="{% url 'register_user' %}"><i class="material-icons black-text">add</i>register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>