<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'index' %}" class="brand-logo left black-text">web-awards</a>
      <ul class="right">
        <li>
          <!--search for projects-->
          <form id="search-site" action="" method='get'>
            <div class="input-field">
              <input placeholder="Search projects..."  id="search" type="text" class="validate" name="project">
            </div>
          </form>
        </li>
        
        <li><a href="/"><i class="material-icons black-text">home</i></a></li>
        <li><a href=""><i class="material-icons black-text">add</i></a></li>
        <li><a href=""><i class="material-icons black-text">account_circle</i></a></li>
        <li><a href=""><i class="material-icons black-text">exit_to_app</i></a></li>
    
      </ul>
    </div>
  </nav>
</div>