{% extends 'authenticate/base.html' %}
{% block content %}
  {{block.super}}
  <div class="container">
    <div class="row">
      {% if form.errors %}
      <p>Enter the correct form details</p>
      {% endif %}
    </div>
    <div class="row" style="padding-top: 50px;">
      <div class="col s12 m2 l3"></div>
      <div class="col s12 m8 l6" id="login">
        
        <form action="" method = 'POST' class="input-field col s12 z-depth-3 white" style="padding: 40px;">
          <h5 class="teal-text center-align">web-awards</h5>
          {% csrf_token %}
          
          <!--render form fields as paragraph-->
          {{ form.as_p }}
          <button type="submit" class=" col s12 waves-effect waves-light btn teal darken-4">Sign up</button>
        
        </form>
      </div>
      <div class="col s12 m2 l3"></div>
    </div> 
    <div class="row">
      <div class="col s12 m2 l3"></div>
      <div class="col s12 m8 l6 center-align" id="login2">
        <p>Have an account? <a href="{% url 'login' %}"><strong>Log in</strong></a></p>
      </div>
      <div class="col s12 m2 l3"></div>
    </div>
  </div>
  <!--footer-->
  <div class="section center" style="color: #8c9395;">
    <p>2022 web-awards</p>
  </div>
{% endblock %}