
{% extends 'authenticate/base.html' %}
{% block content %}
<!--navbar-->
{% include "navbar.html" %}
<!--display messages-->
{% if messages %}
  {% for message in messages %}
    <div class="container center-align">
      <div>
        {{ message }}
      </div> 
    </div>
  {% endfor %}
{% endif %}

  <div class="container-fluid">
    <div class="row center-align" style="display: flex; justify-content: center; align-items: center; padding-top:50px;">
      <div class="card-image" style="height: 250px; width: 250px; padding: 40px;">
        {% if user.profile.profile_photo %}
          <img src="{{user.profile.profile_photo.url}}" alt="" class="circle responsive-img" style="height: 100%; width: 100%; object-fit: cover;">
        {% else %}
          <img src="http://www.gravatar.com/avatar/?d=mp" alt="" class="circle responsive-img">
        {% endif %}
      </div>
      <div>
        <div class="row" style="display: flex;">
          <p style="padding-right: 10px;"><b>{{user.username}}</b></p>
        </div>
        <div class="row" style="display: flex;">
          <p style="padding-right: 10px;"><b>{{projects|length}}</b> projects </p>
        </div>
        <div class="row">
          <p>{{user.profile.bio}}</p>
        </div>
      </div>
    </div> 
  </div> 

     
    <!--user projects-->
    <div class="container-fluid" id="img-body">
      <div class="row" id="img-row">
        {% for project in projects %}
          <div class="col s12 m6 l3" style="padding: 0px;" >
            <div class="card-panel hoverable white" id="card">
              <div class="card-image">
                <a href="{% url 'project_details' project.pk %}">
                  <img src="{{project.image.url}}" class="responsive-img" alt="Image" id="img">
                </a>
              </div>
              <div class="card-content center-align orange lighten-2">
                <p>{{project.title}}</p>
                <p>{{project.date_posted|timesince}} ago</p>
  
              </div>
            </div>
          </div>
        {% endfor %}
      </div>  
      </div>
    </div>
 

  <!--footer-->
  <div class="section center" style="color: #8c9395;">
    <p>2022 web-awards</p>
  </div>
{% endblock %}
