{% extends 'authenticate/base.html' %}
{% block content %}
  {{block.super}}
  <div class="row">
    <div class="row">
      <form class="col s12 z-depth-3" method="POST" action="" role="form">
        <h5>Rate {{project.title}}</h5>
        {% csrf_token %}
        <div class="row" style="display: flex;">
          <div class="input-field col s12 browser-default">
            {{form.design}}
          </div>
        </div>
        <div class="row" style="display: flex;">
          <div class="input-field col s12">
            {{form.content}}
          </div>
        </div>
        <div class="row" style="display: flex;">
          <div class="input-field col s12">
            {{form.usability}}
          </div>
        </div>
        <div class="row">
          <button type="submit" name="action" class=" waves-effect waves-light btn blue red">Login</button>
        </div>
      </form>
  </div>
  <script>
   $(document).ready(function() {
    $('select').material_select();
      // Old way
      // $('select').material_select();
    }); 
  </script>
{% endblock %}