{% extends 'authenticate/base.html' %}
{% block content %}
  {{block.super}}
  <div class="container" style="padding-top: 150px;">
    <div class="row">
      <form class="col s12 z-depth-3 white" method="POST" action="" role="form">
        <h5>Rate <span class="orange-text">{{project.title}}</span></h5>
        {% csrf_token %}
        <div class="row" style="display: flex;">
          <div class="input-field col s12 browser-default">
            Design: {{form.design}}
          </div>
        </div>
        <div class="row" style="display: flex;">
          <div class="input-field col s12">
            Content: {{form.content}}
          </div>
        </div>
        <div class="row" style="display: flex;">
          <div class="input-field col s12">
            Usability: {{form.usability}}
          </div>
        </div>
        <div class="row center-align">
          <button type="submit" name="action" class=" waves-effect waves-light btn teal darken-4">Vote</button>
        </div>
      </form>
  </div>
{% endblock %}